
// Button Component Example (from http://www.csstyle.io)
// 
	@include component(button) {
		background: #6BD9ED;
		padding: 15px;

		@include option(action){
			color: #1F1F1F;
			background: #A7E040;
		}
	}